In [1]:
# 事前に "gender_submission.csv"  "train.csv" "test.csv" を準備すること
# https://www.kaggle.com/c/titanic

In [2]:
import warnings

warnings.filterwarnings("ignore")

## 1. 問題の定義

### 解くべき問題は何か？
- タイタニック号の乗船客の生存と死亡を予測すること

### どういう問題として処理するか？
- 教師あり学習
- 2クラス分類問題

## 2. データの取得・観察

In [3]:
import numpy as np
import pandas as pd

In [4]:
df_train = pd.read_csv("train.csv")

df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

### submitに備える

In [6]:
df_test = pd.read_csv("test.csv")

df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [7]:
df_submition_sample = pd.read_csv("gender_submission.csv")

df_submition_sample.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [8]:
df_train["Survived"].value_counts()

0    549
1    342
Name: Survived, dtype: int64

## 評価指標と評価プロトコル

### 評価指標
- 正答率(Accuracy)

### 評価プロトコル
- ホールド・アウト

### データを分割する

In [9]:
# ひとまず Parch だけでやってみる
X = df_train[["Parch"]]

y = df_train[["Survived"]]

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [11]:
print(X_train.shape, X_test.shape)
print(y_train.shape, y_test.shape)

(668, 1) (223, 1)
(668, 1) (223, 1)

## 4. データの前処理・特徴量エンジニアリング

- 今回はsubmitだけが目的なので前処理をせずに進める

## 5. モデルの訓練・評価

### モデルの訓練 と モデルの評価

- 機械学習アルゴリズム は LogisticRegressionのみ

In [12]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()

logreg.fit(X_train, y_train)

print(logreg.score(X_train, y_train))
print(logreg.score(X_test, y_test))

0.6152694610778443
0.5874439461883408

## 6. モデルのチューニング
- 割愛

## kaggleへのsubmit用データをつくる

In [13]:
X_new = df_test[["Parch"]]

pred = logreg.predict(X_new)

In [14]:
# sumission用に整形

df_submission = pd.DataFrame(columns=["PassengerId", "Survived"])
df_submission["PassengerId"] = df_test["PassengerId"]
df_submission["Survived"] = pred

In [15]:
df_submission.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [16]:
df_submission.to_csv("01_submision.csv", index=False)